*~
*.retry
*.tar.xz
*.rpm
node_modules/
dist/
/*.spec
/.vagrant
package-lock.json
packaging/arch/PKGBUILD
packaging/debian/changelog
Test*FAIL*
bots/
src/lib/
test/common/
test/images/
*.pot
POTFILES*
tmp/
/po/LINGUAS
