.list-group{
    max-height: 35rem;
    overflow-y: scroll;
}

#search-image-dialog-waiting.spinner {
    margin-top: 5rem;
}

.image-list-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
