#containers-images div.download-in-progress {
    color: grey;
    font-weight: bold;
}

/* Danger dropdown items should be red */
.pf-c-dropdown__menu-item.pf-m-danger:not(.pf-m-disabled):not(.pf-m-aria-disabled) {
    color: var(--pf-global--danger-color--200);
}

#containers-images .pf-c-table.pf-m-compact .pf-c-table__action {
    --pf-c-table__action--PaddingTop: 0.5rem;
    --pf-c-table__action--PaddingBottom: 0.5rem;
}

.containers-images .pf-c-expandable-section__content {
    margin-top: 0px;
}
