.dynamic-form-group {
    .pf-c-empty-state {
        padding: 0;
    }

    .pf-c-form__label {
        // Don't allow labels to wrap
        white-space: nowrap
    }

    .remove-button-group {
        // Move 'Remove' button the the end of the row
        grid-column: -1;
        // Move 'Remove' button to the bottom of the line so as to align with the other form fields
        display: flex;
        align-items: flex-end;
    }
}
