@import "./css-overrides/toast.scss";

/* Collapse top padding with additional container fluids */
/* FIXME: This should go into PF overrides in Cockpit. */
/* Remove it here when it lands there. */
.container-fluid + .container-fluid {
    padding-top: 0;
}

.container-block {
    display: flex;
    flex-direction: column;
}

.container-block small {
    flex-basis: calc(var(--pf-global--LineHeight--sm) * 1rem);
    line-height: var(--pf-global--LineHeight--sm);
    opacity: 0.7;
    overflow: hidden;
}

.container-name {
    font-size: var(--pf-global--FontSize--lg);
    font-weight: 400;
}

.image-column-created,
.image-column-size-text {
    display: none;
}

/* The columns are displayed differently here */
@media (min-width: 768px) {
    .image-column-created {
        width: 30%;
        display: table-cell;
    }
    .image-column-size-text {
        width: 15%;
        display: table-cell;
    }
    .image-column-tags {
        width: 40%;
    }
}

.containers-run-inline form .pficon-close,
.containers-run-inline form .fa-plus {
    height: 26px;
    width: 26px;
    padding: 4px;
    float: right;
    margin-left: 5px;
}

.containers-run-inline .form-inline {
    background: #f4f4f4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bababa;
    padding: 4px;
    margin-left: 0px;
}

.containers-run-inline .form-inline:first-of-type {
    border-top: 1px solid #bababa;
}

.containers-run-inline .form-control {
  margin: 0 4px;
}

.containers-run-inline .form-group:first-of-type .form-control {
  margin: 0 4px 0 0;
}

.containers-run-portmapping input {
    max-width: 5em;
}

.containers-run-volumemount input {
    max-width: 8em;
}

.containers-run-volumemount button {
    max-width: 8em;
}

.containers-run-envvarclaim input {
    max-width: 8em;
}

.containers-run-onbuildvarclaim input {
    max-width: 15em;
}

.content-filter {
    background: var(--pf-global--BackgroundColor--150);
    border-bottom: 1px solid var(--color-border);
    padding: 0.75rem 1.25rem;
    position: sticky;
    display: flex;
    align-items: baseline;
    min-height: 4rem;
}

.content-filter .ct-select {
    flex: none;
    max-width: 50%;
}

.content-filter input[type="text"] {
    margin-left: 0.5rem;
    flex: auto;
    max-width: 50%;
}

.content-filter h3 {
    display: inline;
    font-size: 18px;
    line-height: 28px;
}

.content-filter i {
    font-size: 24px;
    position: relative;
    padding-right: 3px;
}

.content-filter i.pficon-image {
    top: 3px;
}

.content-filter i.fa {
    margin-top: 2px;
    font-size: 18px;
    line-height: 28px;
}

.content-filter i.fa-cube {
    font-size: 22px;
}

.content-filter a {
    padding-left: 30px;
}

.modal-body .alert {
    margin-bottom: -20px;
    margin-top: 30px;
}

.status {
    padding-left: 32px;
    padding-top: 1em;
    color: #888;
}

.form-group input[type="radio"]{
    margin: 2px 0px 2px 10px;
}

/* Align the buttons on DynamicListForms to the right */
.form-list-control {
    --ct-form-columns: 1;
    justify-items: end;

    input {
        max-width: 8em;
    }
}

/* We need to be a little specific here to override without !important */
.ct-form .ct-form .run-image-dialog-actions {
    grid-template-columns: repeat(2, min-content);
}

.ct-form > [role=group] {
    grid-template-columns: repeat(3, auto);
}

.run-image-dialog-actions .btn {
    padding: 0.25rem 0.75rem;
}

.alert .fa {
    padding-right: 10px;
}

.alert.info-message{
    display: flex;
    justify-content: space-between;
}

.info-message {
    margin-top: 5px;
}

/* New implementation of FileAutoComplete has margin which breaks our UI a bit */
.volume-form .form-group {
    margin-bottom: 0px;
}

.pf-c-alert__description {
    overflow-wrap: anywhere;
}

/* Place details definition list into a grid, with PF4-like style */
.container-details,
.image-details {
    display: grid;
    grid-template-columns: [label] auto [value] 1fr;
    grid-gap: var(--pf-global--spacer--sm) var(--pf-global--spacer--lg);
    align-items: baseline;
    justify-content: left;

    > dt {
        grid-column: label;
        font-size: var(--pf-global--FontSize--sm);
    }

    > dd {
        grid-column: value;
        font-size: var(--pf-global--FontSize--md);
    }
}

.listing-action {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.heading-label {
    padding: 0 0.5em 0 1em;
    font-weight: 400;
}

.res-usage-holder {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

@media screen and (min-width: 768px) {
    .res-usage-holder {
        padding: 0rem 3rem 2rem 3rem;
    }
}

.res-usage-holder > .cpu-mem-usage-graph {
    flex: 1;
    height: 10rem;
    display: flex;
    flex-direction: column;
}

.cpu-mem-usage-graph > .cpu-mem-uage-title {
    margin-left: 1rem;
}

#cpuGraph, #memGraph {
    flex: 1;
}

.storage-usage-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.storage-usage-bar {
    height: 6px;
    background-color: rgb(31, 111, 231);
}