/* Danger dropdown items should be red */
.pf-c-dropdown__menu-item.pf-m-danger {
    color: var(--pf-global--danger-color--200);
}

#containers-volumes .pf-c-table.pf-m-compact .pf-c-table__action {
    --pf-c-table__action--PaddingTop: 0.5rem;
    --pf-c-table__action--PaddingBottom: 0.5rem;
}

.containers-volumes .pf-c-expandable-section__content {
    margin-top: 0px;
}
